    {% extends "base.html" %} 
    {% block content %} 
    {% load static %}
    <div class="container mt-4">
    <h1>Преимущества сервиса Мои Покупки</h1>
    <strong>Мои Покупки</strong> - это простой и умный способ составить список покупок. Приложение 
    позволяет быстро добавлять продукты и планировать свои покупки. Отличный выбор для тех, кто ценит простоту и функциональность.
    Интуитивный интерфейс помогает сосредоточиться на главном. Ваш идеальный помощник для походов в магазин!
    Так же делитесь своим мнением о сервисе с другими пользователями и планируйте вместе с нами!
    <img src="{% static 'foto2.webp' %}" style="max-width: 100%; height: auto; border-radius: 5px;" alt="Изображение сервиса Мои Покупки">
    </div>
    {% endblock %}
